$min_height_header : 465px;

.header {
    min-height: 100vh;
    text-align: center;
    color: white;
    position: relative;
    min-height: $min_height_header;

    font-family: 'Abel', sans-serif;
    letter-spacing: 5px;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    #header-title {
        min-height: $min_height_header;
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 5px;
    }

    $s_t1 : 1rem;
    $s_t2 : 8rem;
    $s_t3 : 1rem;

    .txt {
        display: block;

        &-1 {
            font-size: $s_t1;
        }

        &-2 {
            font-family: 'Six Caps', sans-serif;
            font-size: $s_t2;
            letter-spacing: 15px;
            margin: 15px 0;
        }

        &-3 {
            font-size: $s_t3;
            letter-spacing: 2px;
        }
    }

    @media (max-width: 576px) {
        .txt {
            &-1 {
                font-size: calc(#{$s_t1} - 10%);
            }

            &-2 {
                font-size: calc(#{$s_t2} - 100%);
            }

            &-3 {
                font-size: calc(#{$s_t3} - 10%);
            }
        }
    }

    .header-footer {
        position: absolute;
        bottom: 20px;
        width: 100%;
        padding: 0 20px;

        .slide-number {

            position: absolute;
            right: 20px;
            bottom: 20px;
            font-family: 'Six Caps',
                sans-serif;
            font-size: 1.5rem;
            text-align: center;

            .indaction {
                display: block;

                &>span {
                    letter-spacing: 8px;
                    margin: 0 10px;
                }
            }

            .progress_ {
                height: 3px;
                background-color: white;

                div {
                    height: 3px;
                    background-color: rgba($color: black, $alpha: 0.6);
                }
            }
        }

        #scroll-btn {
            position: relative;
            bottom: -70px;
            width: auto;
            cursor: url(https://silicastones.com/wp-content/uploads/2021/06/scroll-icon.gif);

            #scroll_down {
                font-size: 1rem;

                &:hover {
                    cursor: pointer;
                    padding: 20px;
                }
            }

            #scroll-animation {
                z-index: 50;
                height: 100px;
                width: 2.5px;
                margin: 0 auto;
                overflow-y: hidden;
                background-color: rgba($color: white, $alpha: 0.2);
                border-radius: 5px;

                &>div {
                    background-color: white;
                    width: 2.5px;
                    animation: downScroll 1.5s infinite 1.3s;
                    position: relative;
                }
            }
        }
    }
}

@keyframes downScroll {

    0% {
        height: 0;
        top: 0;
    }

    50% {
        height: 100%;
    }

    100% {
        top: 100%;
        height: 0;
    }
}

.slide-right-header {
    width: 100%;
    overflow: hidden;
    margin-left: 3px;
    max-width: 500px;
  }
  
  .slide-right-header span {
    animation: 2s slide-right-header 2s forwards;
    transform: translateX(-100%);
  }
  
  .slide-left-header {
    width: 100%;
    overflow: hidden;
    max-width: 500px;
  }
  
  .slide-left-header span {
    animation: 2s slide-left-header 2s forwards;
    transform: translateX(100%);
  }

  @keyframes slide-right-header {
    to {
      transform: translateX(0);
    }
  }

  @keyframes slide-left-header {
    to {
      transform: translateX(0);
    }
  }
  


  //Animation Header background

  .opacityBackground {
    animation: fadeIn 3s;
    -webkit-animation: fadeIn 3s;
    -moz-animation: fadeIn 3s;
    -o-animation: fadeIn 3s;
    -ms-animation: fadeIn 3s;
  }
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

//   .header {
//     animation: imageAnimation 4s linear infinite 0s;
//   }

//   @keyframes imageAnimation {
//     0% {
//       animation-timing-function: ease-in;
//       opacity: 0;
//     }
//     8% {
//       animation-timing-function: ease-out;
//       opacity: 1;
//     }
//     17% {
//       opacity: 1
//     }
//     25% {
//       opacity: 0
//     }
//     100% {
//       opacity: 0
//     }
//   }