#overlay {
    height: 100vh;
    width: 100vw;
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;

    &>div {
        &>p {
            padding-left: 15px;
        }

        text-align: center;
        color: white;
        font-family: 'Six Caps',
        sans-serif;
        letter-spacing: 15px;
        font-size: 4rem;
    }

    #loader {
        width: 100%;
        height: 10px;

        display: flex;
        justify-content: center;

        #loader_progress {
            background-color: white;
            transition: 0.5s;
            height: 100%;
            border-radius: 10px;
        }
    }
}