* {
  box-sizing: border-box;
}

.devNiainaNarindra {
  .page-wrap {
    max-width: 800px;
    margin: 0 auto;
  }

  font-size: 18px;
  font-family: 'Abel',
  sans-serif;

  #sectionMovie {
    color: white;

    padding: 0 60px;

    h3 {
      padding-left: 20%;
      font-family: 'Six Caps',
        sans-serif;
      font-size: 2.5rem;

      span {
        margin-top: -10px;
        display: block;
        font-size: 5rem;
      }
    }

    p {
      padding-left: 40%;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    img {
      width: 50%;
      min-width: 150px;
    }

    @media (max-width: 768px) {
      h3 {
        padding-left: 5px;
      }

      p {
        padding-left: 10px;
      }
    }

    @media (max-width: 576px) {
      & {
        padding: 0 15px;
      }
    }

  }

  #sectionBtnWatch {
    padding: 120px 0;

    @media (max-width: 768px) {
      & {
        padding: 30px 0;
      }
    }

    a {
      color: white;
      text-decoration: none;
    }
  }

  #section-lg-slide {
    position: relative;

    #hide-section-lg-slide {
      position: absolute;
      top: 25px;
      right: 15px;
      z-index: 888;
      cursor: pointer;

      span {
        opacity: 0;
        transition: 0.3s;
        padding-left: 5px;
        font-weight: 600;
        border: none;

      }

      &:hover {
        color: white;
        border: white solid 1px;
        background-color: transparent;

        span {
          transition: 0.3s;
          opacity: 1;
        }
      }
    }
  }


  .slide-container,
  .thumb-container {
    width: 100%;
    overflow: auto;
    scroll-snap-type: x mandatory;
    margin-bottom: -20px;
    display: flex;
    padding: 0;

    li {
      display: block;
    }

    &__wrap {
      overflow: hidden;
    }
  }

  .slide-container {
    $slide-w: 90%;
    $padding: 10px;
    scroll-padding: (100% - $slide-w) / 2;

    li {
      flex: 0 0 $slide-w;
      padding: 0 $padding;
      position: relative;
      scroll-snap-align: start;
    }

    img {
      display: block;
      width: 100%;
    }

    p {
      position: absolute;
      bottom: 0;
      left: $padding;
      right: $padding;
      margin: 0;
      padding: 30px;
      background: rgba(#000, 0.5);
      color: #fff;
    }
  }

  .thumb-container__wrap {
    display: none;
  }

  .slide-container {
    scroll-padding: 0;
    overflow: hidden;

    li {
      flex-basis: 100%;
      padding: 0;
    }

    p {
      right: 0;
      left: 0;
    }
  }


  .thumb-container {
    &.scrolling {
      scroll-snap-type: none;
    }

    li {
      flex: 0 0 (100% / 2);
      scroll-snap-align: center;
    }

    @media (max-width: 576px) {
      li {
        flex: 0 0 (100%);
      }
    }

    a {
      display: block;
      width: 100%;
      padding-top: percentage(9 / 16); // locking in an aspect ratio
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      background-origin: border-box;
      overflow: hidden;
      text-indent: -9999px;
      border: 4px solid transparent;
      transition: border-color 0.3s;

      filter: grayscale(30%);

      &:hover,
      &:focus {
        filter: grayscale(0%);
        box-shadow: inset 0 0 80px 10px rgba($color: #000000, $alpha: 0.2);
        transition: 0.3s;
        &.active {
        //   border-color: red;
        }
      }

      &.active {
        filter: grayscale(0%);
      }
    }

    &__wrap {
      position: relative;
      display: flex;
    }
  }

  .prev,
  .next {
    display: flex;
    align-items: center;

    &.disabled {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  .prevCol {
    display: flex;
    flex-direction: row-reverse;
  }

  .controlButton {
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;

    a {
      color: white;
      font-family: 'Abel',
        sans-serif;
      text-decoration: none;
    }

    .prevCol {
      position: relative;
      padding-left: 60px;
      transition: 0.5s;

      &:hover {
        padding-left: 80px;
        transition: 0.3s;

        &::after {
          width: 80px;
          transition: 0.3s;
        }
      }

      &::before {
        content: '';
        width: 70px;
        height: 1px;
        background-color: white;
        position: absolute;
        top: 12px;
        left: -20px;
        transition: 0.5s;
      }
    }

    .nextCol {
      position: relative;
      padding-right: 60px;
      transition: 0.5s;

      &:hover {
        padding-right: 80px;
        transition: 0.3s;

        &::after {
          width: 80px;
          transition: 0.3s;
        }
      }

      &::after {
        content: '';
        width: 70px;
        height: 1px;
        background-color: white;
        position: absolute;
        top: 12px;
        right: -20px;
        transition: 0.5s;


      }
    }
  }
}

//Slider Text
.slide-right {
  width: 100%;
  overflow: hidden;
  margin-left: 300px;
  max-width: 500px;
}

.slide-right h2 {
  animation: 2s slide-right 2s forwards;
  transform: translateX(-100%);
}

.slide-left {
  width: 100%;
  overflow: hidden;
  margin-left: 300px;
  max-width: 500px;
}

.slide-left span {
  animation: 2s slide-left 2s forwards;
  transform: translateX(-100%);
}

@keyframes slide-right {
  to {
    transform: translateX(0);
  }
}