@import url("https://fonts.googleapis.com/css2?family=Six+Caps&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Six+Caps&display=swap");
body {
  background-color: black;
  min-width: 420px;
  padding-bottom: 100px;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

h6,
.h6,
h5,
.h5,
h4,
.h4,
h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: calc(1.375rem + 1.5vw);
}

@media (min-width: 1200px) {
  h1,
  .h1 {
    font-size: 2.5rem;
  }
}

h2,
.h2 {
  font-size: calc(1.325rem + 0.9vw);
}

@media (min-width: 1200px) {
  h2,
  .h2 {
    font-size: 2rem;
  }
}

h3,
.h3 {
  font-size: calc(1.3rem + 0.6vw);
}

@media (min-width: 1200px) {
  h3,
  .h3 {
    font-size: 1.75rem;
  }
}

h4,
.h4 {
  font-size: calc(1.275rem + 0.3vw);
}

@media (min-width: 1200px) {
  h4,
  .h4 {
    font-size: 1.5rem;
  }
}

img,
svg {
  vertical-align: middle;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row > * {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

.col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0%;
          flex: 1 0 0%;
  padding-left: 25px;
  padding-right: 25px;
}

@media (min-width: 768px) {
  .offset-md-6 {
    margin-left: 50%;
  }
  .col-md-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
}

#overlay {
  height: 100vh;
  width: 100vw;
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#overlay > div {
  text-align: center;
  color: white;
  font-family: 'Six Caps', sans-serif;
  letter-spacing: 15px;
  font-size: 4rem;
}

#overlay > div > p {
  padding-left: 15px;
}

#overlay #loader {
  width: 100%;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#overlay #loader #loader_progress {
  background-color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  height: 100%;
  border-radius: 10px;
}

.header {
  min-height: 100vh;
  text-align: center;
  color: white;
  position: relative;
  min-height: 465px;
  font-family: 'Abel', sans-serif;
  letter-spacing: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header #header-title {
  min-height: 465px;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 5px;
}

.header .txt {
  display: block;
}

.header .txt-1 {
  font-size: 1rem;
}

.header .txt-2 {
  font-family: 'Six Caps', sans-serif;
  font-size: 8rem;
  letter-spacing: 15px;
  margin: 15px 0;
}

.header .txt-3 {
  font-size: 1rem;
  letter-spacing: 2px;
}

@media (max-width: 576px) {
  .header .txt-1 {
    font-size: calc(1rem - 10%);
  }
  .header .txt-2 {
    font-size: calc(8rem - 100%);
  }
  .header .txt-3 {
    font-size: calc(1rem - 10%);
  }
}

.header .header-footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  padding: 0 20px;
}

.header .header-footer .slide-number {
  position: absolute;
  right: 20px;
  bottom: 20px;
  font-family: 'Six Caps', sans-serif;
  font-size: 1.5rem;
  text-align: center;
}

.header .header-footer .slide-number .indaction {
  display: block;
}

.header .header-footer .slide-number .indaction > span {
  letter-spacing: 8px;
  margin: 0 10px;
}

.header .header-footer .slide-number .progress_ {
  height: 3px;
  background-color: white;
}

.header .header-footer .slide-number .progress_ div {
  height: 3px;
  background-color: rgba(0, 0, 0, 0.6);
}

.header .header-footer #scroll-btn {
  position: relative;
  bottom: -70px;
  width: auto;
  cursor: url(https://silicastones.com/wp-content/uploads/2021/06/scroll-icon.gif);
}

.header .header-footer #scroll-btn #scroll_down {
  font-size: 1rem;
}

.header .header-footer #scroll-btn #scroll_down:hover {
  cursor: pointer;
  padding: 20px;
}

.header .header-footer #scroll-btn #scroll-animation {
  z-index: 50;
  height: 100px;
  width: 2.5px;
  margin: 0 auto;
  overflow-y: hidden;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

.header .header-footer #scroll-btn #scroll-animation > div {
  background-color: white;
  width: 2.5px;
  -webkit-animation: downScroll 1.5s infinite 1.3s;
          animation: downScroll 1.5s infinite 1.3s;
  position: relative;
}

@-webkit-keyframes downScroll {
  0% {
    height: 0;
    top: 0;
  }
  50% {
    height: 100%;
  }
  100% {
    top: 100%;
    height: 0;
  }
}

@keyframes downScroll {
  0% {
    height: 0;
    top: 0;
  }
  50% {
    height: 100%;
  }
  100% {
    top: 100%;
    height: 0;
  }
}

.slide-right-header {
  width: 100%;
  overflow: hidden;
  margin-left: 3px;
  max-width: 500px;
}

.slide-right-header span {
  -webkit-animation: 2s slide-right-header 2s forwards;
          animation: 2s slide-right-header 2s forwards;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slide-left-header {
  width: 100%;
  overflow: hidden;
  max-width: 500px;
}

.slide-left-header span {
  -webkit-animation: 2s slide-left-header 2s forwards;
          animation: 2s slide-left-header 2s forwards;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

@-webkit-keyframes slide-right-header {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-right-header {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes slide-left-header {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-left-header {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.opacityBackground {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.devNiainaNarindra {
  font-size: 18px;
  font-family: 'Abel', sans-serif;
}

.devNiainaNarindra .page-wrap {
  max-width: 800px;
  margin: 0 auto;
}

.devNiainaNarindra #sectionMovie {
  color: white;
  padding: 0 60px;
}

.devNiainaNarindra #sectionMovie h3 {
  padding-left: 20%;
  font-family: 'Six Caps', sans-serif;
  font-size: 2.5rem;
}

.devNiainaNarindra #sectionMovie h3 span {
  margin-top: -10px;
  display: block;
  font-size: 5rem;
}

.devNiainaNarindra #sectionMovie p {
  padding-left: 40%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.devNiainaNarindra #sectionMovie img {
  width: 50%;
  min-width: 150px;
}

@media (max-width: 768px) {
  .devNiainaNarindra #sectionMovie h3 {
    padding-left: 5px;
  }
  .devNiainaNarindra #sectionMovie p {
    padding-left: 10px;
  }
}

@media (max-width: 576px) {
  .devNiainaNarindra #sectionMovie {
    padding: 0 15px;
  }
}

.devNiainaNarindra #sectionBtnWatch {
  padding: 120px 0;
}

@media (max-width: 768px) {
  .devNiainaNarindra #sectionBtnWatch {
    padding: 30px 0;
  }
}

.devNiainaNarindra #sectionBtnWatch a {
  color: white;
  text-decoration: none;
}

.devNiainaNarindra #section-lg-slide {
  position: relative;
}

.devNiainaNarindra #section-lg-slide #hide-section-lg-slide {
  position: absolute;
  top: 25px;
  right: 15px;
  z-index: 888;
  cursor: pointer;
}

.devNiainaNarindra #section-lg-slide #hide-section-lg-slide span {
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 5px;
  font-weight: 600;
  border: none;
}

.devNiainaNarindra #section-lg-slide #hide-section-lg-slide:hover {
  color: white;
  border: white solid 1px;
  background-color: transparent;
}

.devNiainaNarindra #section-lg-slide #hide-section-lg-slide:hover span {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.devNiainaNarindra .slide-container,
.devNiainaNarindra .thumb-container {
  width: 100%;
  overflow: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  margin-bottom: -20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.devNiainaNarindra .slide-container li,
.devNiainaNarindra .thumb-container li {
  display: block;
}

.devNiainaNarindra .slide-container__wrap,
.devNiainaNarindra .thumb-container__wrap {
  overflow: hidden;
}

.devNiainaNarindra .slide-container {
  scroll-padding: 5%;
}

.devNiainaNarindra .slide-container li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 90%;
          flex: 0 0 90%;
  padding: 0 10px;
  position: relative;
  scroll-snap-align: start;
}

.devNiainaNarindra .slide-container img {
  display: block;
  width: 100%;
}

.devNiainaNarindra .slide-container p {
  position: absolute;
  bottom: 0;
  left: 10px;
  right: 10px;
  margin: 0;
  padding: 30px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}

.devNiainaNarindra .thumb-container__wrap {
  display: none;
}

.devNiainaNarindra .slide-container {
  scroll-padding: 0;
  overflow: hidden;
}

.devNiainaNarindra .slide-container li {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0;
}

.devNiainaNarindra .slide-container p {
  right: 0;
  left: 0;
}

.devNiainaNarindra .thumb-container.scrolling {
  -ms-scroll-snap-type: none;
      scroll-snap-type: none;
}

.devNiainaNarindra .thumb-container li {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  scroll-snap-align: center;
}

@media (max-width: 576px) {
  .devNiainaNarindra .thumb-container li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

.devNiainaNarindra .thumb-container a {
  display: block;
  width: 100%;
  padding-top: 56.25%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  overflow: hidden;
  text-indent: -9999px;
  border: 4px solid transparent;
  -webkit-transition: border-color 0.3s;
  transition: border-color 0.3s;
  -webkit-filter: grayscale(30%);
          filter: grayscale(30%);
}

.devNiainaNarindra .thumb-container a:hover, .devNiainaNarindra .thumb-container a:focus {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
  -webkit-box-shadow: inset 0 0 80px 10px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 80px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.devNiainaNarindra .thumb-container a.active {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.devNiainaNarindra .thumb-container__wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.devNiainaNarindra .prev,
.devNiainaNarindra .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.devNiainaNarindra .prev.disabled,
.devNiainaNarindra .next.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.devNiainaNarindra .prevCol {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.devNiainaNarindra .controlButton {
  padding: 10px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.devNiainaNarindra .controlButton a {
  color: white;
  font-family: 'Abel', sans-serif;
  text-decoration: none;
}

.devNiainaNarindra .controlButton .prevCol {
  position: relative;
  padding-left: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.devNiainaNarindra .controlButton .prevCol:hover {
  padding-left: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.devNiainaNarindra .controlButton .prevCol:hover::after {
  width: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.devNiainaNarindra .controlButton .prevCol::before {
  content: '';
  width: 70px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 12px;
  left: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.devNiainaNarindra .controlButton .nextCol {
  position: relative;
  padding-right: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.devNiainaNarindra .controlButton .nextCol:hover {
  padding-right: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.devNiainaNarindra .controlButton .nextCol:hover::after {
  width: 80px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.devNiainaNarindra .controlButton .nextCol::after {
  content: '';
  width: 70px;
  height: 1px;
  background-color: white;
  position: absolute;
  top: 12px;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.slide-right {
  width: 100%;
  overflow: hidden;
  margin-left: 300px;
  max-width: 500px;
}

.slide-right h2 {
  -webkit-animation: 2s slide-right 2s forwards;
          animation: 2s slide-right 2s forwards;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.slide-left {
  width: 100%;
  overflow: hidden;
  margin-left: 300px;
  max-width: 500px;
}

.slide-left span {
  -webkit-animation: 2s slide-left 2s forwards;
          animation: 2s slide-left 2s forwards;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

@-webkit-keyframes slide-right {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slide-right {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
/*# sourceMappingURL=main.css.map */